<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/Kermit.jpg">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Steven. It uses data from mapbox and weatherstack.</p>
            <img class="portrait" src="img/Kermit.jpg">
        </div>
        {{>footer}}
    </body>

</html>