<!DOCTYPE html>

<html>

    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/Kermit.jpg">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>
        </div>
        {{>footer}}
    </body>

</html>