<header>
    <h1>{{title}}</h1>
    
    <!-- Warning: "/" means from root of the project. Don't use "./" or it will fail on subpages-->
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>